VLESS_NODE_ID={{ inventory_hostname }}
ENVIRONMENT_MODE=production
AGENT_TOKEN_CURRENT={{ vless_agent_token_current }}
AGENT_TOKEN_NEXT={{ vless_agent_token_next }}
AGENT_SHA={{ vless_agent_active_revision }}
XRAY_VERSION=26.7.11
XRAY_IMAGE_DIGEST=sha256:a1644183accdb0b5be967093fe34be756fd5de15fe2ee0206e842ae17350967f
REALITY_PRIVATE_KEY_FILE={{ vless_agent_reality_key_path }}
REALITY_TARGET={{ vless_agent_reality_target }}
REALITY_SERVER_NAME={{ vless_agent_reality_server_name }}
REALITY_SHORT_IDS={{ vless_agent_reality_short_ids }}
VLESS_PUBLIC_PORT={{ vless_agent_public_port }}
VLESS_AGENT_PORT={{ vless_agent_port }}
